.top_wrapper {
  background-color: #ffffff;
}

.top_inner {
  z-index: 100;
  position: relative;
  height: 70vh;
  max-width: 1920px;
  width: auto;
  padding: 170px 10vw 60px 10vw;
  display: flex;
  align-items: center;
}

.top_img {
  height: 100%;
  width: 100%;
}

.top_img video {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: #ffffff;
}

.top_item {
  z-index: 100;
  position: absolute;
  transform: translate(0, -50%);
  left: 103px;
}

.top_text {
  line-height: 1.2;
  font-size: 6rem;
  font-weight: 700;
}

.top_text span {
  font-size: 6rem;
  color: #e95513;
}

.service {
  background-color: #e95513;
}

.service_inner {
  width: auto;
  max-width: 1366px;
  margin: 0 auto;
  padding: 110px 40px 161px 40px;
  color: #ffffff;
}

.service_title {
  font-size: 4.4rem;
  font-weight: 700;
  padding: 5px;
}

.service_title_sub {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 5px;
}

.service_items {
  width: 100%;
  margin-top: 31px;
  display: flex;
}

.service_main {
  width: 30%;
  margin-right: 3vw;
  color: #ffffff;
}

.service_text {
  line-height: 50px;
  font-size: 2.4rem;
  font-weight: 700;
}

.service_btn {
  margin-top: 31px;
  background-color: #ffffff;
  cursor: pointer;
}

.service_btn:hover {
  background-color: #e95513;
  border: solid 2px #ffffff;
  box-sizing: border-box;
}

.btn_r {
  height: 60px;
  width: 238px;
  border-radius: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_text {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}

.text_o {
  color: #e95513;
}

.service_btn:hover .text_o {
  color: #ffffff;
}

.service_item {
  width: 70%;
  display: flex;
}

.development {
  width: 50%;
  height: auto;
  margin-left: 3vw;
  background-color: #e66a32;
  cursor: pointer;
}

.link_item:hover {
  opacity: 0.8;
}

.img_box {
  background-color: #ffffff;
}

.img_box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.development_text {
  padding: 18px 39px 38px 32px;
}

.service_item h2 {
  line-height: 22px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
}

.service_item p {
  line-height: 28px;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 18px;
  color: #ffffff;
}

.more_btn {
  line-height: 19px;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 18px;
}

.more_btn p {
  color: #ffffff;
}

.support {
  width: 50%;
  height: auto;
  margin-left: 3vw;
  background-color: #e66a32;
  cursor: pointer;
}

.support:hover {
  opacity: 0.8;
}

.support_text {
  padding: 18px 39px 38px 32px;
}

.news_inner {
  width: auto;
  max-width: 1366px;
  margin: 0 auto;
  padding: 110px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news_title {
  font-size: 3.2rem;
  font-weight: 700;
  padding: 5px;
}

.news_title_sub {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5px;
}

.news_items {
  max-width: 800px;
  width: 100%;
  padding-top: 19px;
}

.news_item:hover {
  background-color: #fff4f3;
}

.news_item {
  height: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  color: #000;
  cursor: pointer;
}

.news_date {
  line-height: 19px;
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 15px;
}

.news_item span {
  line-height: 19px;
  width: 110px;
  color: #e95513;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 26px;
  text-align: center;
}

.news_text {
  line-height: 19px;
  font-size: 1.6rem;
  font-weight: 400;
}

.news_btn {
  margin-top: 70px;
  background-color: #e95513;
  cursor: pointer;
}

.news_btn:hover {
  background-color: #ffffff;
  border: solid 2px #e95513;
  box-sizing: border-box;
}

.text_w {
  color: #ffffff;
}

.news_btn:hover .text_w {
  color: #e95513;
}

@media (max-width: 1200px) {
  .service_inner {
    padding: 100px 24px;
  }

  .news_inner {
    padding: 100px 24px;
  }
}

@media (max-width: 768px) {
  .top_inner {
    z-index: 0;
    position: static;
    height: auto;
    padding: 15vh 10vw 20px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .top_img {
    z-index: 1;
    position: static;
    height: auto;
  }

  .top_item {
    height: auto;
    left: 10vw;
    margin: 20px 0;
    transform: translate(0);
  }

  .top_text {
    font-size: 7vw;
  }

  .top_text span {
    font-size: 7vw;
  }

  .service_inner {
    margin: 0 auto;
    padding: 50px 16px;
  }

  .service_title {
    font-size: 3rem;
  }

  .service_title_sub {
    font-size: 1.2rem;
  }

  .service_items {
    flex-direction: column;
  }

  .service_main {
    width: 100%;
    margin: 0;
  }

  .service_text {
    line-height: 30px;
    font-size: 1.6rem;
  }

  .service_btn {
    margin-top: 15px;
    margin-left: 0;
  }

  .btn_r {
    height: 54px;
    width: 200px;
    border-radius: 30px;
  }

  .btn_text {
    line-height: 54px;
  }

  .service_item {
    width: 100%;
    margin-top: 30px;
  }

  .development {
    width: 50%;
    margin: 0 2vw 0 0;
  }

  .img_box {
    display: flex;
    align-items: center;
  }

  .development_text {
    padding: 15px;
  }

  .service_item h2 {
    line-height: 20px;
    font-size: 1.4rem;
  }

  .service_item p {
    line-height: 20px;
    font-size: 1.2rem;
    margin-top: 15px;
  }

  .more_btn {
    font-size: 1.2rem;
    margin-top: 15px;
  }

  .support {
    width: 50%;
    margin: 0 0 0 2vw;
  }

  .support_text {
    padding: 15px;
  }

  .news_inner {
    margin: 0 auto;
    padding: 50px 16px;
  }

  .news_title {
    font-size: 3rem;
    text-align: center;
  }

  .news_title_sub {
    font-size: 1.2rem;
    margin-top: 6px;
  }

  .news_items {
    width: 100%;
  }

  .news_item:hover {
    background-color: #fff4f3;
  }

  .news_date {
    font-size: 1.2rem;
    margin-right: 10px;
  }

  .news_item span {
    font-size: 1.2rem;
    margin-right: 15px;
  }

  .news_text {
    font-size: 1.2rem;
  }
}
